.navbar{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #333333;
    border: 3px solid rgb(104, 104, 116);
    width: 200px;
    border-radius: 25px;
}
.navbar a{
    line-height: 2;
    font-size: 25px;
    color: rgb(104, 104, 116);;
    text-decoration: none;
    font-family: 'Langar', cursive;
    margin-left: 40px;
    font-weight: bold;
}
.navbar a:hover{
    color:gold;
}